{% set heading_id = 'b-accordion-heading'|clean_unique_id %}
{% set body_id = 'b-accordion-body'|clean_unique_id %}

<h2 id="{{ heading_id }}">
    <button type="button" class="text-left flex items-center justify-between w-full p-5 font-medium rtl:text-right text-black border-b border-gray-200 gap-3" aria-expanded="false" aria-controls="{{ body_id }}" data-accordion-target="#{{ body_id }}" data-active-classes="bg-black text-white">
        {{ title }}
        <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
</h2>
<div id="{{ body_id }}" class="hidden" aria-labelledby="{{ heading_id }}">
    <div class="p-5 border-b border-gray-200 dark:border-gray-700">
        <div>{{ description }}</div>
    </div>
</div>