<footer class="bg-black text-white">
  <div class="container mx-auto w-full p-4 py-6 lg:p-6">
    <div class="grid grid-cols-6 gap-8">
      <div class="col-span-6 md:col-span-1">
        <div class="flex items-center flex-shrink-0 text-white gap-2">
          <svg class="fill-current h-10 w-10" viewbox="0 0 159 102" xmlns="http://www.w3.org/2000/svg">
            <path d="M25.243 0H0v21.61h25.298c15.986 0 28.992 13.078 28.992 29.152S41.284 79.913 25.298 79.913H0v21.611h25.243c27.838 0 50.485-22.771 50.485-50.762C75.728 22.772 53.08 0 25.243 0ZM133.706 79.113c-15.546 0-28.196-12.716-28.196-28.348 0-15.63 12.647-28.35 28.196-28.35h25.295V0h-25.242c-27.838 0-50.486 22.771-50.486 50.762 0 27.99 22.648 50.762 50.486 50.762h25.242V79.11h-25.295v.003Z"></path>
          </svg>
          <span class="font-semibold text-xl tracking-tight">{{ site_name}}</span>
        </div>
      </div>
    {% if content %} {{ content }} {% endif %}
    </div>
    <hr class="my-4 border-gray-200 sm:mx-auto lg:my-6">
    <div class="container mx-auto sm:flex sm:items-center sm:justify-between pb-2">
        <span class="text-xs text-white/70 text-center">&copy;
          {{ "now"|date("Y") }}
          <a href="https://dentsu.com/" class="underline hover:text-white">{{ site_name}} by Dentsu</a>.
          {{"All Rights Reserved."|t}}
        </span>
    </div>
  </div>
</footer>
